<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE resources [
  <!ENTITY icons "/usr/share/icons/Papirus/32x32/apps">
  ]>
  
<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item label="Flameshot" icon="&icons;/flameshot.svg">
    <action name="Execute">
      <command>flameshot gui</command>
    </action>
  </item>
  <item label="Rofi" icon="&icons;/kitty.svg">
    <action name="Execute">
      <command>rofi -show drun</command>
    </action>
  </item>
  <item label="Nitrogen" icon="&icons;/nitrogen.svg">
    <action name="Execute">
      <command>nitrogen</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Nitrogen</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  <item label="NVim" icon="&icons;/nvim.svg">
    <action name="Execute">
      <command>kitty -e nvim</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>nvim</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Emacs" icon="&icons;/emacs.svg">
    <action name="Execute">
      <command>emacs</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Kitty" icon="&icons;/kitty.svg">
    <action name="Execute">
      <command>kitty</command>
    </action>
  </item>
  <item label="Rxvt Unicode" icon="&icons;/urxvt.svg">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox" icon="&icons;/firefox.svg">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Riot" icon="&icons;/riot.svg">
    <action name="Execute">
      <command>riot-desktop</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Riot</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Discord" icon="&icons;/discord.svg">
    <action name="Execute">
      <command>discord</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Discord</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="LibreOffice Base" icon="&icons;/libreoffice-base.svg">
    <action name="Execute">
      <command>libreoffice -base</command>
    </action>
  </item>
  <item label="LibreOffice Calc" icon="&icons;/libreoffice-calc.svg">
    <action name="Execute">
      <command>libreoffice -calc</command>
    </action>
  </item>
  <item label="LibreOffice Draw" icon="&icons;/libreoffice-draw.svg">
    <action name="Execute">
      <command>libreoffice -draw</command>
    </action>
  </item>
  <item label="LibreOffice Impress" icon="&icons;/libreoffice-impress.svg">
    <action name="Execute">
      <command>libreoffice -impress</command>
    </action>
  </item>
  <item label="LibreOffice Math" icon="&icons;/libreoffice-math.svg">
    <action name="Execute">
      <command>libreoffice -math</command>
    </action>
  </item>
  <item label="LibreOffice Printer Administration" icon="&icons;/libreoffice-main.svg">
    <action name="Execute">
      <command>libreoffice-printeradmin</command>
    </action>
  </item>
  <item label="LibreOffice Writer" icon="&icons;/libreoffice-writer.svg">
    <action name="Execute">
      <command>libreoffice -writer</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Steam" icon="&icons;/steam.svg">
    <action name="Execute">
      <command>steam</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="VLC" icon="&icons;/vlc.svg">
    <action name="Execute">
      <command>vlc</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="MOCP" icon="&icons;/deepin-music.svg">
    <action name="Execute">
      <command>kitty -e mocp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="PCMan File Manager" icon="&icons;/xfce-filemanager.svg">
    <action name="Execute">
      <command>pcmanfm</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Ranger" icon="&icons;/kitty.svg">
    <action name="Execute">
      <command>kitty -e ranger</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp" icon="&icons;/gimp.svg">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape" icon="&icons;/inkscape.svg">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Htop" icon="&icons;/htop.svg">
    <action name="Execute">
      <command>kitty -e htop</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Blueman Manager" icon="&icons;/blueman.svg">
    <action name="Execute">
      <command>blueman-manager</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Power Manager" icon="&icons;/xfce4-power-manager-settings.svg">
    <action name="Execute">
      <command>xfce4-power-manager-settings</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Manjaro Settings Manager" icon="&icons;/manjaro-settings-manager.svg">
    <action name="Execute">
      <command>manjaro-settings-manager</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Openbox Configuration Manager" icon="&icons;/openbox.svg">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox" icon="&icons;/configurator.svg">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-accessories-menu" icon="&icons;/applications-accessories.svg"/>
  <menu id="apps-editors-menu" icon="&icons;/applications-haskell.svg"/>
  <menu id="apps-graphics-menu" icon="&icons;/applications-graphics.svg"/>
  <menu id="apps-net-menu" icon="&icons;/applications-internet.svg"/>
  <menu id="apps-office-menu" icon="&icons;/libreoffice-main.svg"/>
  <menu id="apps-multimedia-menu" icon="&icons;/applications-multimedia.svg"/>
  <menu id="apps-term-menu" icon="&icons;/kitty.svg"/>
  <menu id="apps-fileman-menu" icon="&icons;/xfce-filemanager.svg"/>
  <separator label="System"/>
  <menu id="system-menu" icon="&icons;/system-config-display.svg"/>
  <separator />
  <item label="Log Out" icon="&icons;/kali-backdoor-factory.svg">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
